body{background-image: url(../images/backgroundpg2.png);
  background-color: #a1b4b1;
  background-size: 200%;
  background-repeat: no-repeat;
}

#arrow{float: left;
        width: 10%;
        height: 10%;
        position: relative;}

#subtext{font-size: 20px;
        font-family:'Didact Gothic';
        color: #f2edef;
       position: relative;
       margin-bottom: 2%;
       margin-left: 4%;
     }
/*instructions*/
#subsubtext{font-size: 14px;
        font-family:'Didact Gothic';
        color: #f2edef;
       position: relative;
       margin-bottom: 2%;
       margin-left: 10%;
     }

#figure3{float: right;
          position: fixed;
          margin-left: 50%;
          margin-top: -4%;
          background-image: url(../images/figure3.png);
          background-size: 60%;
          height: 100%;
          width: 100%;
          overflow: visible;
          background-repeat: no-repeat;
          pointer-events: none;
          z-index: 300;}

/*keep/forget divs*/

#forget{float: left;
      position: absolute;
      padding-right: 2%;
      font-size: 20px;
      font-family:'Didact Gothic';
      text-align: right;
      color: #7d8c89;
      opacity: .4;
      margin-left: 55%;
      margin-top: 4%;
      height: 100%;
      width: 30%;
      border-radius: 5px;
      padding-bottom: 10%;
      background-color: #f2edef;
      z-index:-200}

#keep{float: left;
      position: absolute;
      padding-left: 2%;
      font-size: 20px;
      font-family:'Didact Gothic';
      color: #7d8c89;
      opacity: .4;
      margin-left: 7%;
      margin-top: 4%;
      height: 100%;
      width: 30%;
      border-radius: 5px;
      padding-bottom: 10%;
      background-color: #f2edef;
      z-index:-200}

.should_keep {
  border-color: #FFF09E !important;
}

.should_forget {
  border-color: #B35667 !important;
}

/*basic photo placement on page*/
#photoorg{margin-top: 10%;}

/*styling of photo elements*/
.photo {
      cursor:move;
      width: 11%;
      height: 11%;
      position: relative;
      margin-left: 1%;
      margin-top: 2%;
      margin-right: 1%;
      border-color: #f2edef;
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
      float: left;
      z-index: -100;}





.draggable {
  border-color: #FFF09E;
  border-width: 5px;
}

#save_button{font-size: 14px;
        font-family:'Didact Gothic';
        color:#a1b4b1;
        margin-left: 10%;}
